---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>UW Data Science Club</title>
  <link rel="stylesheet" href="styles/sanitize.css">
  <link rel="stylesheet" href="styles/style.css">
  {% include google-analytics.html %}
</head>
<body>
  <div class="wrapper">
    {% include navigation.html %}
    <section id="title-panel">
      <h1 class="title-text">Workshops.</h1>
      <h1 class="title-text">Guest Lectures.</h1>
      <h1 class="title-text">Reading Groups.</h1>
      <h2>UW Data Science Club is a community for those who want to learn and talk data science at the University of Waterloo.</h2>
    </section>
  </div>
</body>
</html>