<script>
  function openNav() {
    document.getElementById('overlay-nav').style.height = "100%"; 
  }

  function closeNav() {
    document.getElementById('overlay-nav').style.height = "0%"; 
  }
</script>

<nav class="nav-bar">
  <a class="logo" href="/">UW DSC.</a>
  <ul class="nav-list">
    {% include nav-links.html %}
  </ul>
  <a class="menu-btn" href="javascript:void(0)" onclick="openNav()"><img src="/assets/menu.svg" alt=""/></a>
</nav>
<div id="overlay-nav">
  <a class="close-btn" href="javascript:void(0)" onclick="closeNav()"><img src="/assets/close.svg" alt=""/></a>
  <ul class="nav-menu">
    {% include nav-links.html %}
  </ul>
</div>