<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/sanitize.css">
    <link rel="stylesheet" href="/styles/style_posts.css">
  </head>
  <body>

    <nav class="nav-bar">
      <section id="title-panel" class="section">
        <h1 class="title-text"><span>UW</span> DATA SCIENCE CLUB.</h1>
<!--         <p>_</p> -->
      </section>
      <ul class="nav-list">
        <li><a class="nav-link" href="#">Wiki</a></li>
        <li><a class="nav-link" href="#">About</a></li>
        <li><a class="nav-link" href="/blog.html">Blog</a></li>
      </ul>
    </nav>

    <div class='post-body'>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>