<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles/sanitize.css">
    <link rel="stylesheet" href="/styles/style_posts.css">
    {% include google-analytics.html %}
  </head>
  <body>
    <div class='container'>
      <img class='logo' src='/assets/logo.png'>
      <div style='display: inline-block; float: right;'>
        <nav class="nav-bar">
          <ul class="nav-list">
            <li><a class="nav-link" href="#">Wiki</a></li>
            <li><a class="nav-link" href="#">About</a></li>
            <li><a class="nav-link" href="/blog.html">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class='post-body'>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>