<!DOCTYPE html>
<html lang="en">
<head>
    {% include mathjax.html %}
    {% include head-tags.html %}
    <link rel="stylesheet" href="/styles/style_posts.css" />
</head>
<body>
    <div class="wrapper">
    {% include navigation.html %}
        <article id="post-content">
            <div id="post-meta">
                <h1 id="post-title">{{ page.title}}</h1>
                <h2 id="post-date">{{ page.date | date: "%B %d, %Y" }}</h2>
            </div>
            {{ content }}
        </article>
    </div>
</body>
</html>
