@import url(railscasts.css);

#post-content {
  margin: 4em 0;
}

#post-meta {
  margin-bottom: 0.5em;
}

#post-title {
  margin: 0.4em 0;
}

#post-date {
  margin: 0.4em 0;
  font-size: 1.1em;
}

.post-hr {
  margin-top: 1em;
  margin-bottom: 3em;
  width: 100%;
  border: 2px white solid;
}

/*CODE STYLE*/
.highlight{
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
}
