.page {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.section {
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

body {
  background: black;
  font-family: arial; 
  font-size: 100%;
}

.club-higlight {
  text-align: left;
}

#info-panel {
  font-weight: bolder; 
  font-size: 1.2em;
  line-height: 0.5;
  text-align: left;
}

p {
  color: white; 
}

#title-panel {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.25;
  margin-bottom: 4em;
}

.title-text {
  color: white;
  font-weight: bolder; 
  text-align: left;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0 2em;
}

.nav-list li {
  display: inline;
  padding: 0 1em;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s ease;
  position: relative; 
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 960px), (orientation: landscape) {
  #title-panel {
    font-size: 1.2em;
  }

  #info-panel {
    font-size: 1.2em;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #title-panel {
    font-size: 1.6em;
  }

  #info-panel {
    font-size: 1.6em;
  }

  .page {
    padding: 2em 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar {
    padding: 1em 2em;
  }
}
/*
.post-list{
  margin: 0 auto;
}*/