@import url(railscasts.css);

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.section {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/*POST BODY STYLES*/
/*------*/
.post-body p {
  color: #f5f5f5;
}

.post-title {
  font-size: 1.6em;
  padding: 5% 5% 1% 5%;
}

.post-meta {
  padding: 0% 5% 0% 5%;
}

.post-content {
  padding: 0 5% 4% 5%;
} 

/*CODE STYLE*/
.highlight{
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
}