@import url(railscasts.css);

#post-content {
  margin: 4em 0;
}

#post-meta {
  margin-bottom: 2em;
}

#post-title {
  margin: 0.4em 0;
}

#post-date {
  margin: 0.4em 0;
  font-size: 1.2em;
}

/*CODE STYLE*/
.highlight{
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
}
